body{
    background-color: aliceblue;
    .imagem_fundo{
        width: 300px;
        opacity: 70%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px;
        margin-top: 150px;
        margin-left: 600px;
        position: fixed
    }
}
.cabecalho{
    background-color: #151671;
    opacity: 85%;
    height: 50px;
}
.cabecalho nav{
    margin-left: 50px;
    padding: 10px;
}
.cabecalho td{
    padding-left: 150px;
    padding-right: 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1opx;
    color: aliceblue;
}
.corpo{
    font-family:'Lucida Sans',;
    height: 1000px;
}