*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cabecalho{
    width: 100%;
    background-color: rgb(70, 88, 138);
    display: flex;
    justify-content: space-around;
}
.img_logo{
    width: 100px;
}


body {
    background-color: white;
}

.menu{
    display: inline-flex;
}

.menu a{
    padding: 10px 10px;
    background-color: rgba(rgb(116, 77, 77), rgb(58, 104, 58), rgb(76, 76, 126), 0.1);
}

.menu li{
    display: inline;
<<<<<<< HEAD
}

.rodape{
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    background-color: #070749;
    width: 100%;
    padding: 3%;
    position: fixed;
    bottom: 0;
    color: white;

}

.rodape ul{
    line-height: 1.3;
    text-align: left;
    list-style: none;
    margin-right: 10%;
    
}

=======
    padding: 10px 10px;
    background-color:rgb(108, 60, 153)
}
.menu ul{
    display: inline;
}
>>>>>>> 11469369bad7ac6e657eafab02e71ae851ffd47e
