body {
  z-index: 1;
  margin: 0;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url('imagens/backgorund_image1.jpg') center center / cover;
  background-attachment: fixed;
}
.corpo{
    height: 50em;
    #div_conheca{
      display: flex;
      #conheca_calen{
        z-index: 2;
        color: white;
        font-family: 'Poppins';
        margin-left: 1.5em;
        font-size: 6em;
      }
      #U{
        color: black;
        font-family: 'Poppins';
        margin-top: 2.5em;
        margin-left: 0.3em;
        font-size: 6em;
      }
      #F{
        color: brown;
        font-family: 'Poppins';
        margin-top: 2.5em;
        font-size: 6em;
      }
      #V{
        color: yellow;
        font-family: 'Poppins';
        margin-top: 2.5em;
        font-size: 6em;
      }
    }
}
html {
  scroll-behavior: smooth;
}
#botao_seta{
  background: none;
  border: none;
  cursor: pointer;
  #png_seta{
    position: absolute;
    z-index: 1;
      filter: brightness(0) saturate(100%) invert(100%);
      height: 10em;
      width: 10em;
      margin-left: 10em;
    }
}

#explicacao{
  background-color: rgb(255, 255, 255,0.8);
  margin-top: 30em;
  margin-left: 3em;
  width: 85em;
  height: 90em;
  border-radius: 1em;
  padding: 3em 0em 0em 5em;
  #Titulo{
    color: #151671;
    font-family: 'Poppins';
    font-size: 3em;
  }
  #texto_projeto{
    padding-right: 2em;
    font-family: Georgia;
    line-height: 1.6;
    font-size: 1.7em;
    letter-spacing: normal;
  }
  
}